.characters-page {
  max-width: 80vw;
  height: auto;
}

.characters-list {
  padding: 0; 
  /* required^ to deal with default inline */
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.characters-list__item {
  width: 21%;
  margin: 20px auto;
}

.characters-page__active-counter {
  width: 100%;
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
}

.characters-page--active-counter--text {
  font-size: 24px;
  margin-right: 60px;
}

.characters-page--active-counter--page-text {
  font-size: 24px;
  margin-left: 60px;
}

.characters-page--buttons {
  padding: 0px 50px 50px;
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
}